version: '2.2'
services:
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.3.2
    container_name: es
    environment:
      - discovery.type=single-node
    ports:
      - 9200:9200
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    networks:
      - my-net  

  db:
    image: mysql:5.7
    restart: always
    container_name: mydb
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'dbuser'
      MYSQL_PASSWORD: 'Aa123456'
      MYSQL_ROOT_PASSWORD: 'Aa123456!'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - "./sql-scripts:/docker-entrypoint-initdb.d"
    networks:
      - my-net    

  web:
    image: webapp
    command: python3 app.py
    depends_on:
      - es
    ports:
      - 5000:5000
    volumes:
      - ./flask-app:/opt/flask-app
    networks:
      - my-net   
  

volumes:
  esdata1:
    driver: local

networks:
  my-net:
    driver: bridge



#     version: '2.2'
# services:
#   es01:
#     image: docker.elastic.co/elasticsearch/elasticsearch:7.17.6
#     container_name: es01
#     environment:
#       - node.name=es01
#       - cluster.name=es-docker-cluster
#       - discovery.seed_hosts=es02,es03
#       - cluster.initial_master_nodes=es01,es02,es03
#       - bootstrap.memory_lock=true
#       - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
#     ulimits:
#       memlock:
#         soft: -1
#         hard: -1
#     volumes:
#       - data01:/usr/share/elasticsearch/data
#     ports:
#       - 9200:9200
#     networks:
#       - elastic
#   es02:
#     image: docker.elastic.co/elasticsearch/elasticsearch:7.17.6
#     container_name: es02
#     environment:
#       - node.name=es02
#       - cluster.name=es-docker-cluster
#       - discovery.seed_hosts=es01,es03
#       - cluster.initial_master_nodes=es01,es02,es03
#       - bootstrap.memory_lock=true
#       - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
#     ulimits:
#       memlock:
#         soft: -1
#         hard: -1
#     volumes:
#       - data02:/usr/share/elasticsearch/data
#     networks:
#       - elastic
#   es03:
#     image: docker.elastic.co/elasticsearch/elasticsearch:7.17.6
#     container_name: es03
#     environment:
#       - node.name=es03
#       - cluster.name=es-docker-cluster
#       - discovery.seed_hosts=es01,es02
#       - cluster.initial_master_nodes=es01,es02,es03
#       - bootstrap.memory_lock=true
#       - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
#     ulimits:
#       memlock:
#         soft: -1
#         hard: -1
#     volumes:
#       - data03:/usr/share/elasticsearch/data
#     networks:
#       - elastic

# volumes:
#   data01:
#     driver: local
#   data02:
#     driver: local
#   data03:
#     driver: local

# networks:
#   elastic:
#     driver: bridge
