{% extends 'layout.html' %}

{% block title %}Truck{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% block content %}
<h2>Truck</h2>
<div>
    <!-- <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
       
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>

        <tr>
            <td>Phone Number:</td>
            <td>{{ account['phoneNumber'] }}</td>
        </tr>

        <tr>
            <td>Delivery Address:</td>
            <td>{{ account['deliveryAddress'] }}</td>
        </tr>
    </table> -->
</div>
{% endblock %}